.hero {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #282727, #383737, #3d3d3d);
}

.detel {
  padding: 9%;
  padding-top: 20%;
}

.detel h1 {
  font-size: 60px;
  color: #fff;
  margin-bottom: 20px;
}    

.detel p {
  line-height: 1.6;
  font-size: 20px;
  color: #fff;
}

.detel img {
  position: absolute;
  bottom: 15%;
  right: 90px;
  z-index: 1;
}
.detel #shape {
  z-index: 0;
  position: absolute;
  right: 85px;
  top: 200px;
  width: 450px;
}   
@media (min-width: 300px) and (max-width: 680px) {
  .hero { 
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #282727, #383737, #3d3d3d);
  }
  .detel {
    padding-top: 32%;
    font-size: 5px;
    line-height: 1.2;
  }
  .detel img {
    width: 230px;
    position: absolute;
    top: 60%;
  }
  .detel #shape {
    width: 230px;
    margin-top: 50% ;
  }
}
